html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #5f9ea0;
    font-family: 'source sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #363636;
}


h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p, ol, ul {
    margin-top: 0px;
}

p {
    line-height: 190%;
}

a {
    color: #5f9ea0;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

.image {
    display: inline-block;
    padding: 5px;
}

.image img {
    display: block;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    dispaly: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}

hr {
    display: none;
}

.button {
    position: relative;
    display: inline-block;
    margin-top: 0.5em;
    padding: 1em 7em;
    background: #20b2aa;
    border-radius: 7px;
    letter-spacing: 0.10em;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 1em;
    color: #FFF;
}

.button:before {
    content: '';
    postition: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/bgo1.png');
    opacity: .5;
}


ul.style2 {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.style2 li {
    border-top: solid 1px #E5E5E5;
    padding: 0.80em 0;
}

ul.style2 li:first-child {
    border-top: 0;
    padding-top: 0;
}


ul.contact {
    margin: 0;
    padding: 3em 0em 0em 0em;
    list-style: none;
}

ul.contact li {
    display: inline-block;
    padding: 0em 0.30em;
    font-size: 1.2em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
    color: #FFFFFF;
}

ul.contact li a:before {
    display: inline-block;
    background: #3f3f3f;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: #FFF;
}

.title {
    margin-bottom: 2em;
    text-transform: uppercase;
}

.title h2 {
    letter-spacing: 0.20em;
    font-weight: 700;
    font-size: 2em;
    color: #5f9ea0;
}

.title .byline {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #6F6F6F;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

#wrapper {
    background: #FFFFFF url(images/bg01.png) repeat;
}

#footer-wrapper {
    overflow: hidden;
    padding: 5em 0em;
    background: #F2F2F2 url(images/bg01.png) repeat;
}

#header {
    position: relative;
    overflow: hidden;
    height: 8em;
    background: #e9967a;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/bgo1.png");
    opacity: .4;
}

#logo {
    position: absolute;
    left: 0;
    height: 8em;
    background: #f08080;
}

#logo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/bg01.png");
    opacity: .7;
}

#logo h1 {
    display: inline-block;
    padding: 1em 2em 0em 2em;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-weight: 900;
    font-size: 2.5em;
    color: #FFFFFF;
}

#logo a {
    text-decoration: none;
    color: #FFFFFF;
}


#menu {
    position: absolute;
    display: block;
    top: 2.7em;
    right: 2em;
    text-align: center;
}

#menu > ul > li > ul {
    display: none;
}

#menu ul {
    display: inline-block;
}

#menu li {
    display: block;
    float: left;
    text-align: center;
}

#menu li a {
    display: block;
    padding: 0.80em 1.5em;
    letter-spacing: 0.25em;
    text-decoration: none;
    font-size: 0.80em;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
    color: #e7fd7f;
}


#menu .current_page_item a {
    color: #FFFFFF;
}

#page {
    overflow: hidden;
    padding: 6em 0em 5em 0em;
}


#content {
    float: left;
    width: 790;
}

#sidebar {
    float: right;
    width: 345px;
}

#sidebar .title h2 {
    font-size: 1.6em;
}

#sidebar .box1,
#sidebar .box2 {
    margin-bottom: 3em;
}

#footer {
    overflow: hidden;
    padding: 5em 0em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

#footer h2 {
    letter-spacing: 0.20em;
    font-weight: 700;
    font-size: 2.4em;
    color: #FFF;
}

#footer .byline {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #FFFFFF;
}

#copyright {
    overflow: hidden;
    padding: 5em 0em;
    padding-top: 20px;
    padding-bottom: 0;
}

#copyright p {
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    color: #FFFDFD;
}

#copyright a {
    text-decoration: none;
    color: #FFFFFF;
}

.borders {
    overflow: hidden;
    margin-bottom: 4em;
    padding-bottom: 3em;
    border-bottom: 1px solid #E5E5E5;
}


#portfolio {
    text-align: center;
}

#portfolio2 {
    text-align: center;
    margin-top: 100px;

}

#portfolio .title h2 {
    color: #262626;
}

#column1,
#column2,
#column3,
#column4 {
    width: 282px;
    padding-top: 30px;
}

#column1,
#column2 {
    float: left;
    margin-right: 24px;
}

#column3 {
    float: left;
}

#column4 {
    float: right;
}

#footer-link {
    text-align: center;
    list-style: none;
}

/* ----------- iPhone 12 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    body, body, h1,h2,h3, p, ol, ul, p, a, a:hover, a img, .image, .image img, .image-full, .image-left, .image-centered, .image-centered img, hr,
    .button, .button:before, ul.style2, ul.style2 li, ul.style2 li:first-child, ul.contact, ul.contact li, ul.contact li span,
    ul.contact li a, ul.contact li a:before, .title, .title h2, .title .byline, .container, #wrapper, #footer-wrapper,
    #header, #header:before, #logo, #logo:before, #logo h1, #logo a, #menu, #menu > ul > li > ul, #menu ul, #menu li,
    #menu li a, #menu .current_page_item a, #page, #content, #sidebar, #sidebar .title h2, #sidebar .box1, #sidebar .box2,
    #footer, #footer h2, #footer .byline, #copyright, #copyright p, #copyright a, .borders, #portfolio, #portfolio2,
    #portfolio .title h2, #column1,#column2,#column3,#column4, #column1,#column2, #column3, #column4, #footer-link{
        width:100%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    body, body, h1,h2,h3, p, ol, ul, p, a, a:hover, a img, .image, .image img, .image-full, .image-left, .image-centered, .image-centered img, hr,
    .button, .button:before, ul.style2, ul.style2 li, ul.style2 li:first-child, ul.contact, ul.contact li, ul.contact li span,
    ul.contact li a, ul.contact li a:before, .title, .title h2, .title .byline, .container, #wrapper, #footer-wrapper,
    #header, #header:before, #logo, #logo:before, #logo h1, #logo a, #menu, #menu > ul > li > ul, #menu ul, #menu li,
    #menu li a, #menu .current_page_item a, #page, #content, #sidebar, #sidebar .title h2, #sidebar .box1, #sidebar .box2,
    #footer, #footer h2, #footer .byline, #copyright, #copyright p, #copyright a, .borders, #portfolio, #portfolio2,
    #portfolio .title h2, #column1,#column2,#column3,#column4, #column1,#column2, #column3, #column4, #footer-link{
        width:100%;
    }
}

/* ----------- iPad Pro 10,5" or 12.9" ----------- */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For  portrait layouts only */
    body, body, h1,h2,h3, p, ol, ul, p, a, a:hover, a img, .image, .image img, .image-full, .image-left, .image-centered, .image-centered img, hr,
    .button, .button:before, ul.style2, ul.style2 li, ul.style2 li:first-child, ul.contact, ul.contact li, ul.contact li span,
    ul.contact li a, ul.contact li a:before, .title, .title h2, .title .byline, .container, #wrapper, #footer-wrapper,
    #header, #header:before, #logo, #logo:before, #logo h1, #logo a, #menu, #menu > ul > li > ul, #menu ul, #menu li,
    #menu li a, #menu .current_page_item a, #page, #content, #sidebar, #sidebar .title h2, #sidebar .box1, #sidebar .box2,
    #footer, #footer h2, #footer .byline, #copyright, #copyright p, #copyright a, .borders, #portfolio, #portfolio2,
    #portfolio .title h2, #column1,#column2,#column3,#column4, #column1,#column2, #column3, #column4, #footer-link{
        width:100%;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For  landscape layouts only */
    body, body, h1,h2,h3, p, ol, ul, p, a, a:hover, a img, .image, .image img, .image-full, .image-left, .image-centered, .image-centered img, hr,
    .button, .button:before, ul.style2, ul.style2 li, ul.style2 li:first-child, ul.contact, ul.contact li, ul.contact li span,
    ul.contact li a, ul.contact li a:before, .title, .title h2, .title .byline, .container, #wrapper, #footer-wrapper,
    #header, #header:before, #logo, #logo:before, #logo h1, #logo a, #menu, #menu > ul > li > ul, #menu ul, #menu li,
    #menu li a, #menu .current_page_item a, #page, #content, #sidebar, #sidebar .title h2, #sidebar .box1, #sidebar .box2,
    #footer, #footer h2, #footer .byline, #copyright, #copyright p, #copyright a, .borders, #portfolio, #portfolio2,
    #portfolio .title h2, #column1,#column2,#column3,#column4, #column1,#column2, #column3, #column4, #footer-link{
        width:100%;
    }
}
/* ----------- Macbook Air or Pro  ----------- */

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    body, body, h1,h2,h3, p, ol, ul, p, a, a:hover, a img, .image, .image img, .image-full, .image-left, .image-centered, .image-centered img, hr,
    .button, .button:before, ul.style2, ul.style2 li, ul.style2 li:first-child, ul.contact, ul.contact li, ul.contact li span,
    ul.contact li a, ul.contact li a:before, .title, .title h2, .title .byline, .container, #wrapper, #footer-wrapper,
    #header, #header:before, #logo, #logo:before, #logo h1, #logo a, #menu, #menu > ul > li > ul, #menu ul, #menu li,
    #menu li a, #menu .current_page_item a, #page, #content, #sidebar, #sidebar .title h2, #sidebar .box1, #sidebar .box2,
    #footer, #footer h2, #footer .byline, #copyright, #copyright p, #copyright a, .borders, #portfolio, #portfolio2,
    #portfolio .title h2, #column1,#column2,#column3,#column4, #column1,#column2, #column3, #column4, #footer-link{
        width:100%;
    }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    body, body, h1,h2,h3, p, ol, ul, p, a, a:hover, a img, .image, .image img, .image-full, .image-left, .image-centered, .image-centered img, hr,
    .button, .button:before, ul.style2, ul.style2 li, ul.style2 li:first-child, ul.contact, ul.contact li, ul.contact li span,
    ul.contact li a, ul.contact li a:before, .title, .title h2, .title .byline, .container, #wrapper, #footer-wrapper,
    #header, #header:before, #logo, #logo:before, #logo h1, #logo a, #menu, #menu > ul > li > ul, #menu ul, #menu li,
    #menu li a, #menu .current_page_item a, #page, #content, #sidebar, #sidebar .title h2, #sidebar .box1, #sidebar .box2,
    #footer, #footer h2, #footer .byline, #copyright, #copyright p, #copyright a, .borders, #portfolio, #portfolio2,
    #portfolio .title h2, #column1,#column2,#column3,#column4, #column1,#column2, #column3, #column4, #footer-link{
        width:100%;
    }
}
